@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
    --font-jaro: "Jaro", sans-serif;
    --font-geist: "Geist", sans-serif;
    --font-staatliches: "Staatliches", sans-serif;
    --breakpoint-fullDesktop: 1450px;

    /*Colors*/
    --color-accent1: #0f0f0f;
    --color-accent2: #613b0f;
    --color-accent3: #ffffff;
    --color-background1: #ffffff;
    --color-background2: #cd9d65;
    --color-background3: #000000;
    --color-background4: #000000;

    --color-headline1: #000000;
    --color-headline2: #ffffff;
    --color-body1: #000000;
    --color-body2: #ffffff;
    --color-link: #000000;
}

body {
    text-transform: uppercase;
}
